.details {
  a {
    font-size: 0.9rem;
    top: 4rem;
    position: absolute;
  }
}

.details {
  position: relative;
  margin: 0;
  height: 100dvh;

  overflow-x: hidden;
}

.details::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("https://www.shutterstock.com/image-vector/heart-continuous-line-drawing-single-600nw-1810509250.jpg"); // ✅ Change this to your image path
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.1;
  z-index: -1;
}
